@import "compass/reset";
@import "compass/css3/user-interface";
@import "compass/css3/images";

body {
  margin: 50px;
}

.timeline {
  @include user-select(none);
  border-radius: 2px;
  width: 999px;
  border: 1px solid #ccc;
  position: relative;
  padding-top: 32px;
  overflow: hidden;
  background-repeat: repeat-x, no-repeat, repeat-x;
  .current {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    background: red;
    z-index: 3;
  }
  .times-handle {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 18px;
    z-index: 5;
    cursor: s-resize;
  }
  .times {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 18px;
    z-index: 2;
    background: #fff;
    cursor: pointer;
    .mark {
      background: rgba(255, 255, 255, 0.5);
      color: #555;
      opacity: 0.99;
      position: absolute;
      line-height: 18px;
      font-size: 8px;
      font-family: Menlo;
      top: 0px;
      padding: 0 4px;
      z-index: 4;
    }
  }
  .row {
    height: 30px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    div {
      border-radius: 2px;
      background: rgba(120, 120, 120, 0.6);
      height: 26px;
      position: absolute;
      top: 2px;
      color: #fff;
      text-align: center;
      line-height: 26px;
      font-family: Menlo;
      font-size: 12px;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        background: rgba(150, 150, 150, 0.6);
      }
      &.move {
        cursor: move;
      }
      &.w-resize {
        cursor: w-resize;
      }
      &.e-resize {
        cursor: e-resize;
      }
    }
  }
}