@import "compass/reset";
@import "compass/css3/user-interface";
@import "compass/css3/images";
@import "compass/css3/font-face";

@include font-face(segoe, font-files("segoe.ttf", "segoe.woff"));

body {
  margin: 50px;
  background: #f3f3f3;
}

.timeline {
  @include user-select(none);
  border-radius: 3px;
  width: 999px;
  background: #fff;
  border: 1px solid #ccc;
  position: relative;
  padding-top: 32px;
  overflow: hidden;
  background-repeat: repeat-x, no-repeat, repeat-x;
  &.move {
    cursor: move;
  }
  .current {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0px;
    background: rgb(112, 48, 48);
    z-index: 3;
  }
  .times-handle {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 18px;
    z-index: 5;
    cursor: s-resize;
  }
  .times {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 18px;
    z-index: 2;
    background: #fff;
    cursor: pointer;
    .mark {
      background: rgba(255, 255, 255, 0.5);
      color: #555;
      opacity: 0.99;
      position: absolute;
      line-height: 18px;
      font-size: 10px;
      font-family: segoe;
      top: 0px;
      padding: 0 4px;
      z-index: 4;
    }
  }
  .row {
    height: 30px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    &.video {
      div {
        background: #998A6F;
        color: #F5DDB1;
      }
    }
    &.audio {
      div {
        background: #7E827A;
        color: #DEE5D7;
      }
    }
    div {
      border-radius: 2px;
      height: 26px;
      position: absolute;
      top: 2px;
      text-align: center;
      line-height: 26px;
      font-family: segoe;
      font-size: 12px;
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
      &.selected {
        border: 2px solid #2F343B;
        height: 22px;
        line-height: 22px;
      }
      &.hover {
        cursor: pointer;
      }
      &.change {
        opacity: 0.8;
      }
      &.move {
        cursor: move;
      }
      &.w-resize {
        cursor: w-resize;
      }
      &.e-resize {
        cursor: e-resize;
      }
    }
  }
}